@import "~bootstrap/scss/bootstrap";

.App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;

  .main-container {
    padding: 20px 20px;
    width: 100%;
    height: 100vh;

    .main-columns {
      border-style: solid;
      border-color: red;
      height: calc(100vh - 40px);
    }
  }
}
